.vote {
  margin: 5px;
  width: 30%
}

.voteCount {
  margin-left: 3px;
}

#unfavorited.bg-warning {
  background-color: white !important;
}

.videoUser {
  margin-bottom: 0px;
  margin-right: 5px;
}

#favorited, #unfavorited {
  cursor: pointer
}

.videoMetaData {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}